* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  width: 100%;
  height: 100%;
  margin:0;
  overflow-x: hidden;  
}

.imagem-fundo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1; 
}

.fundo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  /* background-position: center;  */
  justify-content: center; 
  padding: 20px;
  align-items: center; 
}

.caixa {
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  width: 95%;
  max-width: 550px;
  
  height: auto;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    
}

h1 {
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  color: #38bdf8;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 15px;
  font-size: 18px;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #334155;
  color: white;
  transition: 0,3s;
}

button:hover {
  background: #38bdf8;
  color: #0f172a;
}

.topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}
